input {
    width: 100% !important;
    padding: 0.5em;
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.react-datepicker-wrapper{
    width: 100% !important;
}
.react-datepicker__input-container{
    width: 100% !important;
}
.extra-padding {
    padding: 10px;
}
.error-message {
    color: red;
    font-size: 12px;
}
.heading {
    color : #212529;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}
.traveller-item {
    height:130px;
    word-wrap: break-word;
    overflow: hidden 
}
.custom-button {
    margin: 2px;
}
.detail-section {
    background: #f8f9fa !important;
    padding: 10px;
}
.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.loader {
    left: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #343a40;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
.back-icon {
    float: right;
    cursor: pointer;
}
